header {
     text-align: center;
     margin: 30px;
     background-color: #1DB954;
     color: #fff;
     padding: 10px 0px;
}

.all-songs {
     margin: 30px;
     text-align: center;
}

.video {
     width: 400px;
     height: 200px;
     margin: 40px 0 100px 0;
     border-radius: 8px;
}

.most-played {
     margin: 30px;
     text-align: center;
}

.add-song {
     margin: 30px;
     text-align: center;
}

.add-song input[type="text"] {
     margin-right: 10px;
     padding: 5px;
}

.add-song button {
     padding: 5px;
     background-color: #1DB954;
     color: #fff;
     border: none;
     cursor: pointer;
}